body {
    background: #ced8e2;
}
.caption {
    font-family: Tahoma;
    color: #102b3e;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
}
.top-wrap {
    max-width: 1120px;
    min-height: 300px;
    background: #ced8e2;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 15px; 35px;
    border: 2px solid #9abfc9;
    border-radius: 15px;
}

.descr_text {
    text-align: center;
    color: #102b3e;
    font-family: Tahoma;
    font-size: 16px;
}
.container {
    display: flex;
    margin-top: 20px;
}
.product-stick-top {
    width: 280px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-img-top {
    width: 240px;
    height: 240px;
    border-radius: 15px;
    margin: 0 auto;
    background: #102b3e;
}

.bottom-wrap {
    border: 0;
    border-radius: 0;
    background: #102b3e;
    display: flex;
    align-items: center;

}
.product-stick-bottom {
    width: 280px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-stick-bottom:hover {
    border: 2px solid #9abfc9;
}
.product-img-bottom {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #ced8e2;
    margin: 0 auto;

}
.descr_text2 {
    color: #ced8e2;
}

